.ehsnav {
    background-color: #005A9B;
    color: #f2f2f2;
}

.ehsbrand, .ehsbrand:link, .ehsbrand:hover {
    color: #f2f2f2;
    font-weight: bolder;
}

.ehsnavbgcolor {
    background-color: #005A9B;
}

.ehsnavtext, .ehsnavtext:link, .ehsnavtext:hover {
    color: #f2f2f2;
    margin-right: 12px;
}

.ehsjumbo {
    margin-bottom: 0px;
    background-color: #e2e2e2;
}

.ehsjumbotext {
    color: #005A9B;
    text-align: center;
}

.ehsrowmargin {
    margin-top: 32px;
    margin-bottom: 0px;
}

.textthing {
    color: white;
}

.alertbgc {
    background-color: #fffcb3;
}

.alerttext {
    color: black;
}

body {
    background-color: #e2e2e2;
}

.ehstodo {
    background-color: #b3dfff;
    color: black;
}

.ehshr {
    background-color: black;
    height: 2px; 
    border: 0;
}

.ehsfooter {
    margin-top: 32px;
    padding: 16px;
    background-color: #e2e2e2;
    color: black;
}

.githubicon {
    width: 16px;
    height: auto;
    margin-bottom: 4px;
}

.bootstrapicon {
    width: 16px;
    height: auto;
    margin-bottom: 2px;
    filter: saturate(0%);
}

.bracketsicon {
    width: 18px;
    height: auto;
    margin-bottom: 1px;
    filter: saturate(0%);
}

.projectpicture {
    width: 128px;
    height: auto;
    border: 2px;
    border-style: solid;
    border-color: black;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.footertext, .footertext:link, .footertext:hover {
    color: #666666;
    padding: 8px;
    vertical-align: middle;
}

.mainbg {
    background-color: #f2f2f2;
}

head {
    background-color: #005A9B;
}